body {
  width: 85%;
  margin: 10px auto;
}
.search-area {
  width: 70%;
  margin: 50px auto;
}
#food-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 10px;
  padding-left: 15px;
}
.meal-container {
  width: 15rem;
  height: 18rem;
  border: 1px solid transparent;
  background-color: #f8f7f5;
  text-align: center;
  border-radius: 10px;
}
.meal-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.meal-container h4 {
  margin: 10px 0;
  font-size: 15px;
}
#ingredient-list {
  width: 100%;
  position: relative;
  top: 0;
  display: inline-block;
  padding: 0 400px;
}
.ingredient-img {
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#ingredient-list h3 {
  font-size: 1rem;
}
#ingredient-list h3 .icon {
  width: 12px;
  margin-right: 15px;
  margin-left: 10px;
}
.link-color {
  color: black;
  font-weight: 800px;
}
.btn-color {
  background-color: #f06c4e;
  color: #fff;
  border: none;
}
#error-message {
  text-align: center;
  font-size: 40px;
}
